src/main/resources/db.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="class">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="airlineCompanies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="airlineCompany">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="companyId" type="xs:unsignedByte" />
                                        <xs:element name="companyName" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="cities">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="city">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cityId" type="xs:unsignedByte" />
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="countryId" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="countries">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="country">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="countryId" type="xs:unsignedByte" />
                                        <xs:element name="name" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="customers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="customer">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="customerId" type="xs:unsignedByte" />
                                        <xs:element name="firstName" type="xs:string" />
                                        <xs:element name="lastName" type="xs:string" />
                                        <xs:element name="phone" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="hotels">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="hotel">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="hotelId" type="xs:unsignedByte" />
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="price" type="xs:unsignedByte" />
                                        <xs:element name="cityId" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>